#nspmplinkpremiumlinkpremium {
	color: #d54e21;
	font-weight: bold;
}
.ns-pmpfw-important {
	background: #fff;
	padding: 15px;
	border-radius: 5px;
	border: solid 1px #6BAA01;
	font-size: 18px;
}
.ns-pmpfw-important p {
	
}
#ns-placeholder-group{
	max-width: 460px;
}

#ns-placeholder-group p{
	text-align: center;
}

#ns-placeholder-image-from-list{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#ns-gallery-btn, .ns-remove-img-btn{
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc !important;
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
}

#ns-gallery-btn:hover, .ns-remove-img-btn:hover{
	background-color: #e3e3e3;
	cursor: pointer;
}
